@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap');

/* Resets */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;

}

/* Variables */
:root {

    --black: #0B0C10;
    --grey: #1F2833;
    --white: #C5C6C7;
    --light-blue: #66FCF1;
    --blue: #45A29E;

    --bold: 600;
    --medium: 500;
    --light: 400;

}

/* Globals */

body {

    background: var(--black);
    overflow: hidden;

}

input {

    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 95%;
    background: var(--white);
    color: var(--black);

}

input:hover {

    border-color: var(--blue);
    border: 2px solid var(--blue);

}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: var(--blue);
    border: 2px solid var(--blue);
    outline: 0 none;
}

::placeholder {

    color: var(--black);
    font-size: .75rem;
    letter-spacing: .05rem;
    font-weight: var(--medium);

}

button {

    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .5rem;
    border-radius: 10px;
    width: 100%;
    background: var(--white);
    color: var(--black);
    font-weight: bold;

}

/* Register button */
.register {

    background: none;
    box-shadow: none;
    color: var(--blue);

}

h1, h5, a {

    color: var(--light-blue);

}

p {

    color: var(--white);
    word-break: break-all;
    white-space: normal;
    width: 80%;

}

a, input, button {

    cursor: pointer;

}



.App {

    height: 100vh;
    display: flex;
    justify-content: center;

}

.container {

    display: flex;
    align-items: center;

}

/* Login Page */
.login {

    width: 90vw;
    padding: 1rem;
    height: 80vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: var(--grey);
    margin-top: 10vh;

}

.input {

    flex-direction: column;
    height: 20%;
    width: 90%;
    justify-content: space-between;

}

.bottom {

    flex-direction: column;
    height: 20%;
    justify-content: space-evenly;

}

/* Register page */
.register {

    height: 40%;

}

/* Home page */

.home {

    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;

}

.home-input {

    flex-direction: column;
    background: var(--grey);
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 10px;

}

.text {

    width: 90%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;

}

.text > input {

    width: 100%;

}

.order-top {

    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    
}

.orders {

    height: 75%;
    width: 90vw;
    background: var(--grey);
    border-radius: 10px;
    flex-direction: column;

}

.order-list {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

}

.order-box::-webkit-scrollbar,
.order-list::-webkit-scrollbar {

    width: 0;
    height: 0;

}

.order {

    display: flex;
    width: 90%;
    justify-content: space-between;
    min-height: 4rem;
    border-radius: 10px;
    background-color: var(--black);
    align-items: center;
    margin-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    animation: fadein .75s ease-in-out;

}

.order-box {

    width: 95%;
    display: flex;
    margin: .5rem auto;
    justify-content: space-between;

}

.icon {

    cursor: pointer;

}

.icons {

    display: flex;
    width: 2rem;
    justify-content: space-between;
    align-items: center;

}

.buttons {

    display: flex;
    width: 80%;
    justify-content: space-between;

}

.buttons > button {

    width: 45%;

}

/* Responsive */
@media screen and (min-width: 480px) {

    .home, .orders {

        width: 450px;

    }

}

@media screen and (min-width: 750px) {
 
    .home {

        flex-direction: row;
        width: 100vw;

    }

    .home-input {

        margin-right: 1rem;
        width: 20rem;

    }
}

@media screen and (min-width: 900px) {
 
    .home {

        flex-direction: row;
        width: 100vw;

    }

    .home-input {

        width: 20rem;
        height: 25vh;
        max-width: 30%;

    }
}

/* Animations */
@keyframes fadein {

    from { opacity: 0; }
    to { opacity: 1; }

}

@keyframes fadeOut {

    from { opacity: 1; }
    to { opacity: 0; }

}